
<button (click)="pop()">熱門文章</button>
<button (click)="nor()">一般文章</button>

<div *ngIf="isPop">
  <p>熱門文章列表</p>

  <table border="1">
    <tr>
      <th>標題</th>
      <th>內容</th>
    </tr>
    <tr *ngFor="let item of popData">
      <td>{{item.title}}</td>
      <td>{{item.context}}</td>
    </tr>

  </table>
</div>

<div *ngIf="!isPop">
  <p>一般文章列表</p>

  <table border="1">
    <tr>
      <th>標題</th>
      <th>內容</th>
    </tr>
    <tr>
      <td>一般1</td>
      <td>內容1</td>
    </tr>
    <tr>
      <td>一般2</td>
      <td>內容2</td>
    </tr>
  </table>
</div>


<p [ngStyle]="{'font-size': fontSize +'px'}">{{'article' | uppercase }}</p>
<p [ngStyle]="{'font-size': fontSize +'px'}">{{ nowDate  }}</p>

<p [ngStyle]="{'font-size': fontSize +'px'}">{{ nowDate| myDate }}</p>
<!-- ts檔中 新增nowDate = new Date() -->
<!-- <p [ngStyle]="{'font-size': fontSize +'px'}">{{ nowDate | date : 'shortDate' }}</p>
<p [ngStyle]="{'font-size': fontSize +'px'}">{{ nowDate | date : 'fullDate' }}</p> -->
