
<button (click)="pop()">熱門文章</button>
<button (click)="nor()">一般文章</button>

<div *ngIf="isPop">
  <p>熱門文章列表</p>

  <table border="1">
    <tr>
      <th>標題</th>
      <th>內容</th>
    </tr>
    <tr>
      <td>熱門1</td>
      <td>內容1</td>
    </tr>
    <tr>
      <td>熱門2</td>
      <td>內容2</td>
    </tr>
  </table>
</div>

<div *ngIf="!isPop">
  <p>一般文章列表</p>

  <table border="1">
    <tr>
      <th>標題</th>
      <th>內容</th>
    </tr>
    <tr>
      <td>一般1</td>
      <td>內容1</td>
    </tr>
    <tr>
      <td>一般2</td>
      <td>內容2</td>
    </tr>
  </table>
</div>
